build/
cscope*
sql/build_info.h
.vscode
.idea
VERSION.dep
CMakeCache
CMakeFiles
scripts/my.cnf
scripts/mysql_server


*-t
*_test
*.Plo
*.Po
*.a
*.bb
*.bbg
*.bin
*.cdf
*.core
*.d
*.da
*.dir
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.gcov
*.idb
*.ilk
*.la
*.lai
*.lib
*.lo
*.manifest
*.map
*.o
*.obj
*.old
*.pch
*.pdb
*.reject
*.res
*.rule
*.sbr
*.so
*.so.*
*.spec
*.user
*.vcproj
*.vcproj.cmake
*.vcxproj
*.vcxproj.filters
*/*.dir/*
Debug
MySql.sdf
Win32
*/*_pure_*warnings
*/.deps
*/.libs/*
*/.pure
*/debug/*
*/minsizerel/*
*/release/*
RelWithDebInfo
*~
.*.swp
CMakeCache.txt
./MySql.ncb
./MySql.sln
./MySql.suo
./README.build-files
./cmakecache.txt
./config.h
./copy_mysql_files.bat
./fix-project-files
./mysql*.ds?
./mysql.ncb
./mysql.sln
./mysql.suo
./prepare
.DS_Store
.defs.mk
.depend
.depend.mk
.deps
.gdb_history
.gdbinit
.libs
.o
.out
.snprj/*
.vimrc
50
=6
BUILD/compile-pentium-maintainer
BitKeeper/etc/RESYNC_TREE
BitKeeper/etc/config
BitKeeper/etc/csets
BitKeeper/etc/csets-in
BitKeeper/etc/csets-out
BitKeeper/etc/gone
BitKeeper/etc/level
BitKeeper/etc/pushed
BitKeeper/post-commit
BitKeeper/post-commit-manual
BitKeeper/tmp/*
BitKeeper/tmp/bkr3sAHD
BitKeeper/tmp/gone
CMakeFiles
CMakeFiles/*
CTestTestfile.cmake
COPYING
