/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./scripts/theme.less ***!
  \*****************************************************************************************************************************************/
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
:root {
  --safe-theme: default;
  --safe-ant-prefix: ant;
  --safe-html-selector: html;
  --safe-primary-color: #00A6FB;
  --safe-primary-color-hover: #29bfff;
  --safe-primary-color-active: #0086d4;
  --safe-primary-color-outline: rgba(0, 166, 251, 0.2);
  --safe-processing-color: #1890ff;
  --safe-info-color: #00A6FB;
  --safe-info-color-deprecated-bg: #e6fbff;
  --safe-info-color-deprecated-border: #7ae0ff;
  --safe-success-color: #52c41a;
  --safe-success-color-hover: #73d13d;
  --safe-success-color-active: #389e0d;
  --safe-success-color-outline: rgba(82, 196, 26, 0.2);
  --safe-success-color-deprecated-bg: #f6ffed;
  --safe-success-color-deprecated-border: #b7eb8f;
  --safe-warning-color: #faad14;
  --safe-warning-color-hover: #ffc53d;
  --safe-warning-color-active: #d48806;
  --safe-warning-color-outline: rgba(250, 173, 20, 0.2);
  --safe-warning-color-deprecated-bg: #fffbe6;
  --safe-warning-color-deprecated-border: #ffe58f;
  --safe-error-color: #ff4d4f;
  --safe-error-color-hover: #ff7875;
  --safe-error-color-active: #d9363e;
  --safe-error-color-outline: rgba(255, 77, 79, 0.2);
  --safe-error-color-deprecated-bg: #fff2f0;
  --safe-error-color-deprecated-border: #ffccc7;
  --safe-highlight-color: #ff4d4f;
  --safe-normal-color: #d9d9d9;
  --safe-white: #fff;
  --safe-black: #000;
  --safe-primary-1: #e6fbff;
  --safe-primary-2: #a3edff;
  --safe-primary-3: #7ae0ff;
  --safe-primary-4: #52d1ff;
  --safe-primary-5: #29bfff;
  --safe-primary-6: #00A6FB;
  --safe-primary-7: #0086d4;
  --safe-primary-8: #0068ad;
  --safe-primary-9: #004d87;
  --safe-primary-10: #003461;
  --safe-body-background: #fff;
  --safe-component-background: #fff;
  --safe-popover-background: #fff;
  --safe-popover-customize-border-color: #f0f0f0;
  --safe-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --safe-code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --safe-text-color: #373c43;
  --safe-text-color-secondary: #646A7D;
  --safe-text-color-inverse: #fff;
  --safe-icon-color: inherit;
  --safe-icon-color-hover: rgba(0, 0, 0, 0.75);
  --safe-heading-color: rgba(0, 0, 0, 0.85);
  --safe-text-color-dark: #646A7D;
  --safe-text-color-secondary-dark: #CBCDD3;
  --safe-text-selection-bg: #00A6FB;
  --safe-font-variant-base: tabular-nums;
  --safe-font-feature-settings-base: tnum;
  --safe-font-size-base: 14px;
  --safe-font-size-lg: 16px;
  --safe-font-size-sm: 12px;
  --safe-heading-1-size: 38px;
  --safe-heading-2-size: 30px;
  --safe-heading-3-size: 24px;
  --safe-heading-4-size: 20px;
  --safe-heading-5-size: 16px;
  --safe-line-height-base: 1.5715;
  --safe-border-radius-base: 10px;
  --safe-border-radius-sm: 2px;
  --safe-control-border-radius: 10px;
  --safe-arrow-border-radius: 2px;
  --safe-padding-lg: 24px;
  --safe-padding-md: 16px;
  --safe-padding-sm: 12px;
  --safe-padding-xs: 8px;
  --safe-padding-xss: 4px;
  --safe-control-padding-horizontal: 12px;
  --safe-control-padding-horizontal-sm: 8px;
  --safe-margin-lg: 24px;
  --safe-margin-md: 16px;
  --safe-margin-sm: 12px;
  --safe-margin-xs: 8px;
  --safe-margin-xss: 4px;
  --safe-height-base: 40px;
  --safe-height-lg: 65px;
  --safe-height-sm: 24px;
  --safe-item-active-bg: #e6fbff;
  --safe-item-hover-bg: #f5f5f5;
  --safe-iconfont-css-prefix: anticon;
  --safe-link-color: #00A6FB;
  --safe-link-hover-color: #29bfff;
  --safe-link-active-color: #0086d4;
  --safe-link-decoration: none;
  --safe-link-hover-decoration: none;
  --safe-link-focus-decoration: none;
  --safe-link-focus-outline: 0;
  --safe-ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
  --safe-ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
  --safe-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --safe-ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --safe-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --safe-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --safe-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --safe-ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
  --safe-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --safe-ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  --safe-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --safe-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --safe-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --safe-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --safe-border-color-base: #E5E8F0;
  --safe-border-color-split: #f0f0f0;
  --safe-border-color-inverse: #fff;
  --safe-border-width-base: 1px;
  --safe-border-style-base: solid;
  --safe-outline-blur-size: 0;
  --safe-outline-width: 2px;
  --safe-outline-color: #00A6FB;
  --safe-outline-fade: 20%;
  --safe-background-color-light: #fafafa;
  --safe-background-color-base: #f5f5f5;
  --safe-disabled-color: rgba(0, 0, 0, 0.25);
  --safe-disabled-bg: #f5f5f5;
  --safe-disabled-active-bg: #e6e6e6;
  --safe-disabled-color-dark: rgba(255, 255, 255, 0.35);
  --safe-shadow-color: rgba(0, 0, 0, 0.15);
  --safe-shadow-color-inverse: #fff;
  --safe-box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --safe-shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03);
  --safe-shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
  --safe-shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05), -12px 0 48px 16px rgba(0, 0, 0, 0.03);
  --safe-shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.08), 9px 0 28px 0 rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.03);
  --safe-shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --safe-btn-font-weight: 400;
  --safe-btn-border-radius-base: 10px;
  --safe-btn-border-radius-sm: 10px;
  --safe-btn-border-width: 1px;
  --safe-btn-border-style: solid;
  --safe-btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  --safe-btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  --safe-btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  --safe-btn-primary-color: #fff;
  --safe-btn-primary-bg: #00A6FB;
  --safe-btn-default-color: #646A7D;
  --safe-btn-default-bg: #F2F3F7;
  --safe-btn-default-border: #E5E8F0;
  --safe-btn-danger-color: #fff;
  --safe-btn-danger-bg: #ff4d4f;
  --safe-btn-danger-border: #ff4d4f;
  --safe-btn-disable-color: rgba(0, 0, 0, 0.25);
  --safe-btn-disable-bg: #f5f5f5;
  --safe-btn-disable-border: #E5E8F0;
  --safe-btn-default-ghost-color: #fff;
  --safe-btn-default-ghost-bg: transparent;
  --safe-btn-default-ghost-border: #fff;
  --safe-btn-font-size-lg: 16px;
  --safe-btn-font-size-sm: 14px;
  --safe-btn-padding-horizontal-base: 15px;
  --safe-btn-padding-horizontal-lg: 15px;
  --safe-btn-padding-horizontal-sm: 7px;
  --safe-btn-height-base: 40px;
  --safe-btn-height-lg: 65px;
  --safe-btn-height-sm: 24px;
  --safe-btn-line-height: 1.5715;
  --safe-btn-circle-size: 40px;
  --safe-btn-circle-size-lg: 65px;
  --safe-btn-circle-size-sm: 24px;
  --safe-btn-square-size: 40px;
  --safe-btn-square-size-lg: 65px;
  --safe-btn-square-size-sm: 24px;
  --safe-btn-square-only-icon-size: 16px;
  --safe-btn-square-only-icon-size-sm: 14px;
  --safe-btn-square-only-icon-size-lg: 18px;
  --safe-btn-group-border: #29bfff;
  --safe-btn-link-hover-bg: transparent;
  --safe-btn-text-hover-bg: rgba(0, 0, 0, 0.018);
  --safe-checkbox-size: 16px;
  --safe-checkbox-color: #00A6FB;
  --safe-checkbox-check-color: #fff;
  --safe-checkbox-check-bg: #fff;
  --safe-checkbox-border-width: 1px;
  --safe-checkbox-border-radius: 10px;
  --safe-checkbox-group-item-margin-right: 8px;
  --safe-descriptions-bg: #fafafa;
  --safe-descriptions-title-margin-bottom: 20px;
  --safe-descriptions-default-padding: 16px 24px;
  --safe-descriptions-middle-padding: 12px 24px;
  --safe-descriptions-small-padding: 8px 16px;
  --safe-descriptions-item-padding-bottom: 16px;
  --safe-descriptions-item-trailing-colon: true;
  --safe-descriptions-item-label-colon-margin-right: 8px;
  --safe-descriptions-item-label-colon-margin-left: 2px;
  --safe-descriptions-extra-color: #373c43;
  --safe-divider-text-padding: 1em;
  --safe-divider-orientation-margin: 5%;
  --safe-divider-color: rgba(0, 0, 0, 0.06);
  --safe-divider-vertical-gutter: 8px;
  --safe-dropdown-selected-color: #00A6FB;
  --safe-dropdown-menu-submenu-disabled-bg: #fff;
  --safe-dropdown-selected-bg: #e6fbff;
  --safe-empty-font-size: 14px;
  --safe-radio-size: 16px;
  --safe-radio-top: 0.2em;
  --safe-radio-border-width: 1px;
  --safe-radio-dot-size: 8px;
  --safe-radio-dot-color: #00A6FB;
  --safe-radio-dot-disabled-color: rgba(0, 0, 0, 0.2);
  --safe-radio-solid-checked-color: #fff;
  --safe-radio-button-bg: #F2F3F7;
  --safe-radio-button-checked-bg: #F2F3F7;
  --safe-radio-button-color: #646A7D;
  --safe-radio-button-hover-color: #29bfff;
  --safe-radio-button-active-color: #0086d4;
  --safe-radio-button-padding-horizontal: 15px;
  --safe-radio-disabled-button-checked-bg: #e6e6e6;
  --safe-radio-disabled-button-checked-color: rgba(0, 0, 0, 0.25);
  --safe-radio-wrapper-margin-right: 8px;
  --safe-screen-xs: 480px;
  --safe-screen-xs-min: 480px;
  --safe-screen-sm: 576px;
  --safe-screen-sm-min: 576px;
  --safe-screen-md: 768px;
  --safe-screen-md-min: 768px;
  --safe-screen-lg: 992px;
  --safe-screen-lg-min: 992px;
  --safe-screen-xl: 1200px;
  --safe-screen-xl-min: 1200px;
  --safe-screen-xxl: 1600px;
  --safe-screen-xxl-min: 1600px;
  --safe-screen-xs-max: 575px;
  --safe-screen-sm-max: 767px;
  --safe-screen-md-max: 991px;
  --safe-screen-lg-max: 1199px;
  --safe-screen-xl-max: 1599px;
  --safe-grid-columns: 24;
  --safe-layout-body-background: #ffffff;
  --safe-layout-header-background: #ffffff;
  --safe-layout-header-height: 100px;
  --safe-layout-header-padding: 0 50px;
  --safe-layout-header-color: #373c43;
  --safe-layout-footer-padding: 24px 50px;
  --safe-layout-footer-background: #ffffff;
  --safe-layout-sider-background: #ffffff;
  --safe-layout-trigger-height: 48px;
  --safe-layout-trigger-background: #002140;
  --safe-layout-trigger-color: #fff;
  --safe-layout-zero-trigger-width: 36px;
  --safe-layout-zero-trigger-height: 42px;
  --safe-layout-sider-background-light: #fff;
  --safe-layout-trigger-background-light: #fff;
  --safe-layout-trigger-color-light: #373c43;
  --safe-zindex-badge: auto;
  --safe-zindex-table-fixed: 2;
  --safe-zindex-affix: 10;
  --safe-zindex-back-top: 10;
  --safe-zindex-picker-panel: 10;
  --safe-zindex-popup-close: 10;
  --safe-zindex-modal: 1000;
  --safe-zindex-modal-mask: 1000;
  --safe-zindex-message: 1010;
  --safe-zindex-notification: 1010;
  --safe-zindex-popover: 1030;
  --safe-zindex-dropdown: 1050;
  --safe-zindex-picker: 1050;
  --safe-zindex-popoconfirm: 1060;
  --safe-zindex-tooltip: 1070;
  --safe-zindex-image: 1080;
  --safe-animation-duration-slow: 0.3s;
  --safe-animation-duration-base: 0.2s;
  --safe-animation-duration-fast: 0.1s;
  --safe-collapse-panel-border-radius: 10px;
  --safe-dropdown-menu-bg: #fff;
  --safe-dropdown-vertical-padding: 5px;
  --safe-dropdown-edge-child-vertical-padding: 4px;
  --safe-dropdown-font-size: 14px;
  --safe-dropdown-line-height: 22px;
  --safe-label-required-color: #ff4d4f;
  --safe-label-color: rgba(0, 0, 0, 0.85);
  --safe-form-warning-input-bg: #F2F3F7;
  --safe-form-item-margin-bottom: 24px;
  --safe-form-item-trailing-colon: true;
  --safe-form-vertical-label-padding: 0 0 8px;
  --safe-form-vertical-label-margin: 0;
  --safe-form-item-label-font-size: 14px;
  --safe-form-item-label-height: 40px;
  --safe-form-item-label-colon-margin-right: 8px;
  --safe-form-item-label-colon-margin-left: 2px;
  --safe-form-error-input-bg: #F2F3F7;
  --safe-input-height-base: 40px;
  --safe-input-height-lg: 65px;
  --safe-input-height-sm: 24px;
  --safe-input-padding-horizontal: 11px;
  --safe-input-padding-horizontal-base: 11px;
  --safe-input-padding-horizontal-sm: 7px;
  --safe-input-padding-horizontal-lg: 11px;
  --safe-input-padding-vertical-base: 8px;
  --safe-input-padding-vertical-sm: 0px;
  --safe-input-padding-vertical-lg: 19px;
  --safe-input-placeholder-color: #bfbfbf;
  --safe-input-color: #373c43;
  --safe-input-icon-color: #373c43;
  --safe-input-border-color: #E5E8F0;
  --safe-input-bg: #F2F3F7;
  --safe-input-number-hover-border-color: #29bfff;
  --safe-input-number-handler-active-bg: #f4f4f4;
  --safe-input-number-handler-hover-bg: #29bfff;
  --safe-input-number-handler-bg: #fff;
  --safe-input-number-handler-border-color: #E5E8F0;
  --safe-input-addon-bg: #fafafa;
  --safe-input-hover-border-color: #29bfff;
  --safe-input-disabled-bg: #f5f5f5;
  --safe-input-outline-offset: 0 0;
  --safe-input-icon-hover-color: rgba(0, 0, 0, 0.85);
  --safe-input-disabled-color: rgba(0, 0, 0, 0.25);
  --safe-mentions-dropdown-bg: #fff;
  --safe-mentions-dropdown-menu-item-hover-bg: #fff;
  --safe-select-border-color: transparent;
  --safe-select-item-selected-color: #373c43;
  --safe-select-item-selected-font-weight: 600;
  --safe-select-dropdown-bg: #fff;
  --safe-select-item-selected-bg: #e6fbff;
  --safe-select-item-active-bg: #f5f5f5;
  --safe-select-dropdown-vertical-padding: 5px;
  --safe-select-dropdown-font-size: 14px;
  --safe-select-dropdown-line-height: 22px;
  --safe-select-dropdown-height: 32px;
  --safe-select-background: #fff;
  --safe-select-clear-background: #fff;
  --safe-select-selection-item-bg: #f5f5f5;
  --safe-select-selection-item-border-color: #f0f0f0;
  --safe-select-single-item-height-lg: 40px;
  --safe-select-multiple-item-height: 24px;
  --safe-select-multiple-item-height-lg: 32px;
  --safe-select-multiple-item-spacing-half: 4px;
  --safe-select-multiple-disabled-background: #f5f5f5;
  --safe-select-multiple-item-disabled-color: #bfbfbf;
  --safe-select-multiple-item-disabled-border-color: transparent;
  --safe-cascader-bg: #fff;
  --safe-cascader-item-selected-bg: #e6fbff;
  --safe-cascader-menu-bg: #fff;
  --safe-cascader-menu-border-color-split: #f0f0f0;
  --safe-cascader-dropdown-vertical-padding: 5px;
  --safe-cascader-dropdown-edge-child-vertical-padding: 4px;
  --safe-cascader-dropdown-font-size: 14px;
  --safe-cascader-dropdown-line-height: 22px;
  --safe-anchor-bg: transparent;
  --safe-anchor-border-color: #f0f0f0;
  --safe-anchor-link-top: 4px;
  --safe-anchor-link-left: 16px;
  --safe-anchor-link-padding: 4px 0 4px 16px;
  --safe-tooltip-max-width: 250px;
  --safe-tooltip-color: #646A7D;
  --safe-tooltip-bg: #ffffff;
  --safe-tooltip-arrow-width: 11.3137085px;
  --safe-tooltip-distance: 14.3137085px;
  --safe-tooltip-arrow-color: #ffffff;
  --safe-tooltip-border-radius: 10px;
  --safe-popover-bg: #fff;
  --safe-popover-color: #373c43;
  --safe-popover-min-width: 177px;
  --safe-popover-min-height: 32px;
  --safe-popover-arrow-width: 11.3137085px;
  --safe-popover-arrow-color: #fff;
  --safe-popover-arrow-outer-color: #fff;
  --safe-popover-distance: 15.3137085px;
  --safe-popover-padding-horizontal: 16px;
  --safe-modal-header-padding-vertical: 16px;
  --safe-modal-header-padding-horizontal: 24px;
  --safe-modal-body-padding: 24px;
  --safe-modal-header-bg: #fff;
  --safe-modal-header-padding: 16px 24px;
  --safe-modal-header-border-width: 1px;
  --safe-modal-header-border-style: solid;
  --safe-modal-header-title-line-height: 22px;
  --safe-modal-header-title-font-size: 16px;
  --safe-modal-header-border-color-split: #f0f0f0;
  --safe-modal-header-close-size: 54px;
  --safe-modal-content-bg: #fff;
  --safe-modal-heading-color: rgba(0, 0, 0, 0.85);
  --safe-modal-close-color: #646A7D;
  --safe-modal-footer-bg: transparent;
  --safe-modal-footer-border-color-split: #f0f0f0;
  --safe-modal-footer-border-style: solid;
  --safe-modal-footer-padding-vertical: 10px;
  --safe-modal-footer-padding-horizontal: 16px;
  --safe-modal-footer-border-width: 1px;
  --safe-modal-mask-bg: rgba(0, 0, 0, 0.45);
  --safe-modal-confirm-body-padding: 32px 32px 24px;
  --safe-modal-confirm-title-font-size: 16px;
  --safe-modal-border-radius: 10px;
  --safe-progress-default-color: #1890ff;
  --safe-progress-remaining-color: #f5f5f5;
  --safe-progress-info-text-color: #373c43;
  --safe-progress-radius: 100px;
  --safe-progress-steps-item-bg: #f3f3f3;
  --safe-progress-text-font-size: 1em;
  --safe-progress-text-color: #373c43;
  --safe-progress-circle-text-font-size: 1em;
  --safe-menu-inline-toplevel-item-height: 40px;
  --safe-menu-item-height: 40px;
  --safe-menu-item-group-height: 1.5715;
  --safe-menu-collapsed-width: 80px;
  --safe-menu-bg: transparent;
  --safe-menu-popup-bg: #fff;
  --safe-menu-item-color: #373c43;
  --safe-menu-inline-submenu-bg: #fafafa;
  --safe-menu-highlight-color: #00A6FB;
  --safe-menu-highlight-danger-color: #ff4d4f;
  --safe-menu-item-active-bg: #e6fbff;
  --safe-menu-item-active-danger-bg: #fff1f0;
  --safe-menu-item-active-border-width: 3px;
  --safe-menu-item-group-title-color: #646A7D;
  --safe-menu-item-vertical-margin: 4px;
  --safe-menu-item-font-size: 14px;
  --safe-menu-item-boundary-margin: 8px;
  --safe-menu-item-padding-horizontal: 20px;
  --safe-menu-item-padding: 0 20px;
  --safe-menu-horizontal-line-height: 46px;
  --safe-menu-icon-margin-right: 10px;
  --safe-menu-icon-size: 14px;
  --safe-menu-icon-size-lg: 16px;
  --safe-menu-item-group-title-font-size: 14px;
  --safe-menu-dark-color: #CBCDD3;
  --safe-menu-dark-danger-color: #ff4d4f;
  --safe-menu-dark-bg: #ffffff;
  --safe-menu-dark-arrow-color: #fff;
  --safe-menu-dark-inline-submenu-bg: #000c17;
  --safe-menu-dark-highlight-color: #fff;
  --safe-menu-dark-item-active-bg: #00A6FB;
  --safe-menu-dark-item-active-danger-bg: #ff4d4f;
  --safe-menu-dark-selected-item-icon-color: #fff;
  --safe-menu-dark-selected-item-text-color: #fff;
  --safe-menu-dark-item-hover-bg: transparent;
  --safe-spin-dot-size-sm: 14px;
  --safe-spin-dot-size: 20px;
  --safe-spin-dot-size-lg: 32px;
  --safe-table-bg: #fff;
  --safe-table-header-bg: #fafafa;
  --safe-table-header-color: rgba(0, 0, 0, 0.85);
  --safe-table-header-sort-bg: #f5f5f5;
  --safe-table-body-sort-bg: #fafafa;
  --safe-table-row-hover-bg: #fafafa;
  --safe-table-selected-row-color: inherit;
  --safe-table-selected-row-bg: #e6fbff;
  --safe-table-body-selected-sort-bg: #e6fbff;
  --safe-table-selected-row-hover-bg: #dcf9ff;
  --safe-table-expanded-row-bg: #fbfbfb;
  --safe-table-padding-vertical: 16px;
  --safe-table-padding-horizontal: 16px;
  --safe-table-padding-vertical-md: 12px;
  --safe-table-padding-horizontal-md: 8px;
  --safe-table-padding-vertical-sm: 8px;
  --safe-table-padding-horizontal-sm: 8px;
  --safe-table-border-color: #f0f0f0;
  --safe-table-border-radius-base: 10px;
  --safe-table-footer-bg: #fafafa;
  --safe-table-footer-color: rgba(0, 0, 0, 0.85);
  --safe-table-header-bg-sm: #fafafa;
  --safe-table-font-size: 14px;
  --safe-table-font-size-md: 14px;
  --safe-table-font-size-sm: 14px;
  --safe-table-header-cell-split-color: rgba(0, 0, 0, 0.06);
  --safe-table-header-sort-active-bg: rgba(0, 0, 0, 0.04);
  --safe-table-fixed-header-sort-active-bg: #f5f5f5;
  --safe-table-header-filter-active-bg: rgba(0, 0, 0, 0.04);
  --safe-table-filter-btns-bg: inherit;
  --safe-table-filter-dropdown-bg: #fff;
  --safe-table-expand-icon-bg: #fff;
  --safe-table-selection-column-width: 32px;
  --safe-table-sticky-scroll-bar-bg: rgba(0, 0, 0, 0.35);
  --safe-table-sticky-scroll-bar-radius: 4px;
  --safe-tag-border-radius: 10px;
  --safe-tag-default-bg: #fafafa;
  --safe-tag-default-color: #373c43;
  --safe-tag-font-size: 12px;
  --safe-tag-line-height: 20px;
  --safe-picker-bg: #fff;
  --safe-picker-basic-cell-hover-color: #f5f5f5;
  --safe-picker-basic-cell-active-with-range-color: #e6fbff;
  --safe-picker-basic-cell-hover-with-range-color: #aee4ff;
  --safe-picker-basic-cell-disabled-bg: rgba(0, 0, 0, 0.04);
  --safe-picker-border-color: #f0f0f0;
  --safe-picker-date-hover-range-border-color: #62caff;
  --safe-picker-date-hover-range-color: #aee4ff;
  --safe-picker-time-panel-column-width: 56px;
  --safe-picker-time-panel-column-height: 224px;
  --safe-picker-time-panel-cell-height: 28px;
  --safe-picker-panel-cell-height: 24px;
  --safe-picker-panel-cell-width: 36px;
  --safe-picker-text-height: 40px;
  --safe-picker-panel-without-time-cell-height: 66px;
  --safe-calendar-bg: #fff;
  --safe-calendar-input-bg: #F2F3F7;
  --safe-calendar-border-color: #fff;
  --safe-calendar-item-active-bg: #e6fbff;
  --safe-calendar-column-active-bg: rgba(230, 251, 255, 0.2);
  --safe-calendar-full-bg: #fff;
  --safe-calendar-full-panel-bg: #fff;
  --safe-carousel-dot-width: 16px;
  --safe-carousel-dot-height: 3px;
  --safe-carousel-dot-active-width: 24px;
  --safe-badge-height: 20px;
  --safe-badge-height-sm: 14px;
  --safe-badge-dot-size: 6px;
  --safe-badge-font-size: 12px;
  --safe-badge-font-size-sm: 12px;
  --safe-badge-font-weight: normal;
  --safe-badge-status-size: 6px;
  --safe-badge-text-color: #fff;
  --safe-badge-color: #ff4d4f;
  --safe-rate-star-color: #fadb14;
  --safe-rate-star-bg: #f0f0f0;
  --safe-rate-star-size: 20px;
  --safe-rate-star-hover-scale: scale(1.1);
  --safe-card-head-color: rgba(0, 0, 0, 0.85);
  --safe-card-head-background: transparent;
  --safe-card-head-font-size: 16px;
  --safe-card-head-font-size-sm: 14px;
  --safe-card-head-padding: 16px;
  --safe-card-head-padding-sm: 8px;
  --safe-card-head-height: 48px;
  --safe-card-head-height-sm: 36px;
  --safe-card-inner-head-padding: 12px;
  --safe-card-padding-base: 24px;
  --safe-card-padding-base-sm: 12px;
  --safe-card-actions-background: #fff;
  --safe-card-actions-li-margin: 12px 0;
  --safe-card-skeleton-bg: #cfd8dc;
  --safe-card-background: #fff;
  --safe-card-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  --safe-card-radius: 10px;
  --safe-card-head-tabs-margin-bottom: -17px;
  --safe-card-head-extra-color: #373c43;
  --safe-comment-bg: inherit;
  --safe-comment-padding-base: 16px 0;
  --safe-comment-nest-indent: 44px;
  --safe-comment-font-size-base: 14px;
  --safe-comment-font-size-sm: 12px;
  --safe-comment-author-name-color: #646A7D;
  --safe-comment-author-time-color: #ccc;
  --safe-comment-action-color: #646A7D;
  --safe-comment-action-hover-color: #595959;
  --safe-comment-actions-margin-bottom: inherit;
  --safe-comment-actions-margin-top: 12px;
  --safe-comment-content-detail-p-margin-bottom: inherit;
  --safe-tabs-card-head-background: #fafafa;
  --safe-tabs-card-height: 40px;
  --safe-tabs-card-active-color: #00A6FB;
  --safe-tabs-card-horizontal-padding: 8px 16px;
  --safe-tabs-card-horizontal-padding-sm: 6px 16px;
  --safe-tabs-card-horizontal-padding-lg: 7px 16px 6px;
  --safe-tabs-title-font-size: 14px;
  --safe-tabs-title-font-size-lg: 16px;
  --safe-tabs-title-font-size-sm: 14px;
  --safe-tabs-ink-bar-color: #00A6FB;
  --safe-tabs-bar-margin: 0 0 16px 0;
  --safe-tabs-horizontal-gutter: 32px;
  --safe-tabs-horizontal-margin: 0 0 0 32px;
  --safe-tabs-horizontal-margin-rtl: 0 0 0 32px;
  --safe-tabs-horizontal-padding: 12px 0;
  --safe-tabs-horizontal-padding-lg: 16px 0;
  --safe-tabs-horizontal-padding-sm: 8px 0;
  --safe-tabs-vertical-padding: 8px 24px;
  --safe-tabs-vertical-margin: 16px 0 0 0;
  --safe-tabs-scrolling-size: 32px;
  --safe-tabs-highlight-color: #00A6FB;
  --safe-tabs-hover-color: #29bfff;
  --safe-tabs-active-color: #0086d4;
  --safe-tabs-card-gutter: 2px;
  --safe-tabs-card-tab-active-border-top: 2px solid transparent;
  --safe-back-top-color: #fff;
  --safe-back-top-bg: #646A7D;
  --safe-back-top-hover-bg: #373c43;
  --safe-avatar-size-base: 32px;
  --safe-avatar-size-lg: 40px;
  --safe-avatar-size-sm: 24px;
  --safe-avatar-font-size-base: 18px;
  --safe-avatar-font-size-lg: 24px;
  --safe-avatar-font-size-sm: 14px;
  --safe-avatar-bg: #ccc;
  --safe-avatar-color: #fff;
  --safe-avatar-border-radius: 10px;
  --safe-avatar-group-overlapping: -8px;
  --safe-avatar-group-space: 3px;
  --safe-avatar-group-border-color: #fff;
  --safe-switch-height: 22px;
  --safe-switch-sm-height: 16px;
  --safe-switch-min-width: 44px;
  --safe-switch-sm-min-width: 28px;
  --safe-switch-disabled-opacity: 0.4;
  --safe-switch-color: #00A6FB;
  --safe-switch-bg: #fff;
  --safe-switch-shadow-color: rgba(0, 35, 11, 0.2);
  --safe-switch-padding: 2px;
  --safe-switch-inner-margin-min: 7px;
  --safe-switch-inner-margin-max: 25px;
  --safe-switch-sm-inner-margin-min: 5px;
  --safe-switch-sm-inner-margin-max: 18px;
  --safe-pagination-item-bg: #fff;
  --safe-pagination-item-size: 40px;
  --safe-pagination-item-size-sm: 24px;
  --safe-pagination-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --safe-pagination-font-weight-active: 500;
  --safe-pagination-item-bg-active: #fff;
  --safe-pagination-item-link-bg: #fff;
  --safe-pagination-item-disabled-color-active: rgba(0, 0, 0, 0.25);
  --safe-pagination-item-disabled-bg-active: #e6e6e6;
  --safe-pagination-item-input-bg: #fff;
  --safe-pagination-mini-options-size-changer-top: 0px;
  --safe-page-header-padding: 24px;
  --safe-page-header-padding-vertical: 16px;
  --safe-page-header-padding-breadcrumb: 12px;
  --safe-page-header-content-padding-vertical: 12px;
  --safe-page-header-back-color: #000;
  --safe-page-header-ghost-bg: inherit;
  --safe-page-header-heading-title: 20px;
  --safe-page-header-heading-sub-title: 14px;
  --safe-page-header-tabs-tab-font-size: 16px;
  --safe-breadcrumb-base-color: #646A7D;
  --safe-breadcrumb-last-item-color: #373c43;
  --safe-breadcrumb-font-size: 14px;
  --safe-breadcrumb-icon-font-size: 14px;
  --safe-breadcrumb-link-color: #646A7D;
  --safe-breadcrumb-link-color-hover: #373c43;
  --safe-breadcrumb-separator-color: #646A7D;
  --safe-breadcrumb-separator-margin: 0 8px;
  --safe-slider-margin: 10px 6px 10px;
  --safe-slider-rail-background-color: #f5f5f5;
  --safe-slider-rail-background-color-hover: #e1e1e1;
  --safe-slider-track-background-color: #7ae0ff;
  --safe-slider-track-background-color-hover: #52d1ff;
  --safe-slider-handle-border-width: 2px;
  --safe-slider-handle-background-color: #fff;
  --safe-slider-handle-color: #7ae0ff;
  --safe-slider-handle-color-hover: #52d1ff;
  --safe-slider-handle-color-focus: #33b8fc;
  --safe-slider-handle-color-focus-shadow: rgba(0, 166, 251, 0.12);
  --safe-slider-handle-color-tooltip-open: #00A6FB;
  --safe-slider-handle-size: 14px;
  --safe-slider-handle-margin-top: -5px;
  --safe-slider-handle-margin-left: -5px;
  --safe-slider-handle-shadow: 0;
  --safe-slider-dot-border-color: #f0f0f0;
  --safe-slider-dot-border-color-active: #80d3fd;
  --safe-slider-disabled-color: rgba(0, 0, 0, 0.25);
  --safe-slider-disabled-background-color: #fff;
  --safe-tree-bg: #fff;
  --safe-tree-title-height: 24px;
  --safe-tree-child-padding: 18px;
  --safe-tree-directory-selected-color: #fff;
  --safe-tree-directory-selected-bg: #00A6FB;
  --safe-tree-node-hover-bg: #f5f5f5;
  --safe-tree-node-selected-bg: #a3edff;
  --safe-collapse-header-padding: 12px 16px;
  --safe-collapse-header-padding-extra: 40px;
  --safe-collapse-header-bg: #fafafa;
  --safe-collapse-content-padding: 16px;
  --safe-collapse-content-bg: #fff;
  --safe-collapse-header-arrow-left: 16px;
  --safe-skeleton-color: rgba(190, 190, 190, 0.2);
  --safe-skeleton-to-color: rgba(129, 129, 129, 0.24);
  --safe-skeleton-paragraph-margin-top: 28px;
  --safe-skeleton-paragraph-li-margin-top: 16px;
  --safe-skeleton-paragraph-li-height: 16px;
  --safe-skeleton-title-height: 16px;
  --safe-skeleton-title-paragraph-margin-top: 24px;
  --safe-transfer-header-height: 40px;
  --safe-transfer-item-height: 40px;
  --safe-transfer-disabled-bg: #f5f5f5;
  --safe-transfer-list-height: 200px;
  --safe-transfer-item-hover-bg: #f5f5f5;
  --safe-transfer-item-selected-hover-bg: #dcf9ff;
  --safe-transfer-item-padding-vertical: 6px;
  --safe-transfer-list-search-icon-top: 12px;
  --safe-message-notice-content-padding: 10px 16px;
  --safe-message-notice-content-bg: #fff;
  --safe-wave-animation-width: 6px;
  --safe-alert-success-border-color: #b7eb8f;
  --safe-alert-success-bg-color: #f6ffed;
  --safe-alert-success-icon-color: #52c41a;
  --safe-alert-info-border-color: #7ae0ff;
  --safe-alert-info-bg-color: #F2F3F7;
  --safe-alert-info-icon-color: #00A6FB;
  --safe-alert-warning-border-color: #ffe58f;
  --safe-alert-warning-bg-color: #fffbe6;
  --safe-alert-warning-icon-color: #faad14;
  --safe-alert-error-border-color: #ffccc7;
  --safe-alert-error-bg-color: #fff2f0;
  --safe-alert-error-icon-color: #ff4d4f;
  --safe-alert-message-color: rgba(0, 0, 0, 0.85);
  --safe-alert-text-color: text-color-dark;
  --safe-alert-close-color: #646A7D;
  --safe-alert-close-hover-color: rgba(0, 0, 0, 0.75);
  --safe-alert-no-icon-padding-vertical: 8px;
  --safe-alert-with-description-no-icon-padding-vertical: 15px;
  --safe-alert-with-description-padding-vertical: 15px;
  --safe-alert-with-description-padding: 15px 15px 15px 24px;
  --safe-alert-icon-top: 12.0005px;
  --safe-alert-with-description-icon-size: 24px;
  --safe-list-header-background: transparent;
  --safe-list-footer-background: transparent;
  --safe-list-empty-text-padding: 16px;
  --safe-list-item-padding: 12px 0;
  --safe-list-item-padding-sm: 8px 16px;
  --safe-list-item-padding-lg: 16px 24px;
  --safe-list-item-meta-margin-bottom: 16px;
  --safe-list-item-meta-avatar-margin-right: 16px;
  --safe-list-item-meta-title-margin-bottom: 12px;
  --safe-list-customize-card-bg: #fff;
  --safe-list-item-meta-description-font-size: 14px;
  --safe-statistic-title-font-size: 14px;
  --safe-statistic-content-font-size: 24px;
  --safe-statistic-unit-font-size: 24px;
  --safe-statistic-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --safe-drawer-header-padding: 16px 24px;
  --safe-drawer-body-padding: 24px;
  --safe-drawer-bg: #fff;
  --safe-drawer-footer-padding-vertical: 10px;
  --safe-drawer-footer-padding-horizontal: 16px;
  --safe-drawer-header-close-size: 56px;
  --safe-drawer-title-font-size: 16px;
  --safe-drawer-title-line-height: 22px;
  --safe-timeline-width: 2px;
  --safe-timeline-color: #f0f0f0;
  --safe-timeline-dot-border-width: 2px;
  --safe-timeline-dot-color: #00A6FB;
  --safe-timeline-dot-bg: #fff;
  --safe-timeline-item-padding-bottom: 20px;
  --safe-typography-title-font-weight: 600;
  --safe-typography-title-margin-top: 1.2em;
  --safe-typography-title-margin-bottom: 0.5em;
  --safe-upload-actions-color: #646A7D;
  --safe-process-tail-color: #f0f0f0;
  --safe-steps-nav-arrow-color: rgba(0, 0, 0, 0.25);
  --safe-steps-background: #fff;
  --safe-steps-icon-size: 32px;
  --safe-steps-icon-custom-size: 32px;
  --safe-steps-icon-custom-top: 0px;
  --safe-steps-icon-custom-font-size: 24px;
  --safe-steps-icon-top: -0.5px;
  --safe-steps-icon-font-size: 16px;
  --safe-steps-icon-margin: 0 8px 0 0;
  --safe-steps-title-line-height: 40px;
  --safe-steps-small-icon-size: 24px;
  --safe-steps-small-icon-margin: 0 8px 0 0;
  --safe-steps-dot-size: 8px;
  --safe-steps-dot-top: 2px;
  --safe-steps-current-dot-size: 10px;
  --safe-steps-description-max-width: 140px;
  --safe-steps-nav-content-max-width: auto;
  --safe-steps-vertical-icon-width: 16px;
  --safe-steps-vertical-tail-width: 16px;
  --safe-steps-vertical-tail-width-sm: 12px;
  --safe-notification-bg: #fff;
  --safe-notification-padding-vertical: 16px;
  --safe-notification-padding-horizontal: 24px;
  --safe-result-title-font-size: 24px;
  --safe-result-subtitle-font-size: 14px;
  --safe-result-icon-font-size: 72px;
  --safe-result-extra-margin: 24px 0 0 0;
  --safe-image-size-base: 48px;
  --safe-image-font-size-base: 24px;
  --safe-image-bg: #f5f5f5;
  --safe-image-color: #fff;
  --safe-image-mask-font-size: 16px;
  --safe-image-preview-operation-size: 18px;
  --safe-image-preview-operation-color: #646A7D;
  --safe-image-preview-operation-disabled-color: rgba(100, 106, 125, 0.25);
  --safe-segmented-bg: rgba(0, 0, 0, 0.04);
  --safe-segmented-hover-bg: rgba(0, 0, 0, 0.06);
  --safe-segmented-selected-bg: #fff;
  --safe-segmented-label-color: rgba(0, 0, 0, 0.65);
  --safe-segmented-label-hover-color: #262626;
  --safe-layout-footer-height: 133px;
}

