# Example StoneDB config file  (mysql server).
# In this file, you can use all long options that mysql supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
socket		= /tmp/stonedb.sock
# Here follows entries for some specific programs

# The MySQL server
[mysqld]
basedir = /usr/local/stonedb
datadir = /usr/local/stonedb/data
log-error = stonedb.err

port=5029

# ignore directories created by stonedb
ignore-db-dir=BH_RSI_Repository
ignore-db-dir=cache
ignore-db-dir=stonedb_data

# suppress warning
explicit_defaults_for_timestamp = 1

log_output = FILE
character_set_server = utf8
collation_server = utf8_general_ci
init_connect='SET NAMES utf8'
lower_case_table_names=1

#general_log=1
#general_log_file=path-of-datadir/general_query.log
#slow_query_log=1
#slow_query_log_file=path-of-datadir/slow_query.log

socket		= /tmp/stonedb.sock
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 500M
table_open_cache = 16
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 8M
net_buffer_length = 8K
thread_cache_size = 32
thread_stack = 512K
query_cache_size = 8M
query_cache_type=0
core-file
max_connections=30000 
# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (using the "enable-named-pipe" option) will render mysqld useless!
# 
#skip-networking
server-id=1
# log-bin=mysql-bin
performance_schema=OFF
 
[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
local-infile=1
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[mysqlhotcopy]
interactive-timeout

[mysql-test]
host=local
user=root
database=dk
# suite-timeout=60
testcase-timeout=3600

[mysqld_safe]
core-file-size  = unlimited
